%title{
    font-family: 'Rock Salt', cursive;
    font-weight: bolder;
    font-size: 1.5rem;
}

%big{
    font-family: 'Source Serif Pro', serif;
    font-size: 3rem;
    line-height: 3.5rem;
}

%medium{
    font-family: 'Quicksand', sans-serif;
}

%small{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7rem;
}

